
 <%= link_to 'New employee', new_employee_path %>
  <tr>
  
    <th>Email</th>
    <th>Password</th>

    <th colspan="2"></th>
  </tr>
 
<% @employees.each do |employee| %>
  <tr>
  
      <td><%= employee.email %></td>
      <td><%= employee.password %></td>
    <td><%= link_to 'Show', employee_path(employee) %></td>
    
  </tr>
<% end %>
</table>